In [3]:
import pandas as pd
import os
from time import time
from IPython.display import display # Allows the use of display() for DataFrames
import numpy as np
from sklearn.preprocessing import MinMaxScaler
# Import supplementary visualization code visuals.py
#import visuals as vs

# Pretty display for notebooks
%matplotlib inline

In [2]:
path_to_data= "/home/ubuntu/udacity/CodeGladiator/invesco/data"

transaction_file = "Code-Gladiators-Transaction.csv"
#investment_exp_file = "Code-Gladiators-InvestmentExperience.csv"
investment_exp_file = "imputed_investment_exp.csv"
investment_segment = "investment_vehicle_segment.csv"
aum_file = "Code-Gladiators-AUM.csv"
activity_file = "Code-Gladiators-Activity.csv"

test_file = "test_data.csv"

In [4]:
#transaction_df = pd.read_csv(os.path.join(path_to_data, transaction_file))
#investment_exp_df = pd.read_csv(os.path.join(path_to_data, investment_exp_file))
#investment_segment_df = pd.read_csv(os.path.join(path_to_data, investment_segment))
#aum_df = pd.read_csv(os.path.join(path_to_data, aum_file))
activity_df = pd.read_csv(os.path.join(path_to_data, activity_file))
#test_df = pd.read_csv(os.path.join(path_to_data,test_file))

In [5]:
activity_df.describe()

       Unique_Advisor_Id  Activity_Type  Activity_Count
count       5.538500e+04   55385.000000    55385.000000
mean        8.879199e+05      20.543830        3.476501
std         1.958562e+05       8.012419        1.462244
min         9.697000e+03       1.000000        3.000000
25%         7.568100e+05      16.000000        3.000000
50%         9.541440e+05      26.000000        3.000000
75%         1.038191e+06      26.000000        3.000000
max         1.122660e+06      30.000000       27.000000

In [6]:
activity_df['Activity_Type'] = activity_df['Activity_Type'].astype(str)

In [7]:
type_df = pd.get_dummies(activity_df[['Activity_Type','Activity_Count']] )

for column in type_df.columns:
    if column == 'Activity_Count':
        continue
    type_df[column]= type_df[column]*type_df['Activity_Count']
    
type_df.head()

,Activity_Count,Activity_Type_1,Activity_Type_11,Activity_Type_12,Activity_Type_13,Activity_Type_14,Activity_Type_16,Activity_Type_17,Activity_Type_18,Activity_Type_19,...,Activity_Type_23,Activity_Type_25,Activity_Type_26,Activity_Type_27,Activity_Type_30,Activity_Type_4,Activity_Type_5,Activity_Type_6,Activity_Type_7,Activity_Type_9
0,3,0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,0

In [8]:
type_df= type_df.drop('Activity_Count', axis = 1)

activity_df = pd.concat([activity_df, type_df], axis=1)
activity_df.head()

,Unique_Advisor_Id,Month,Activity_Type,Activity_Count,Activity_Type_1,Activity_Type_11,Activity_Type_12,Activity_Type_13,Activity_Type_14,Activity_Type_16,...,Activity_Type_23,Activity_Type_25,Activity_Type_26,Activity_Type_27,Activity_Type_30,Activity_Type_4,Activity_Type_5,Activity_Type_6,Activity_Type_7,Activity_Type_9
0,1000103,2015 / 01,11,3,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1000103,2015 / 02,22,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1000103,2015 / 06,11,3,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1000103,2015 / 06,17,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1000103,2015 / 06,26,3,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,0

In [9]:
activity_df.columns

Index(['Unique_Advisor_Id', 'Month', 'Activity_Type', 'Activity_Count',
       'Activity_Type_1', 'Activity_Type_11', 'Activity_Type_12',
       'Activity_Type_13', 'Activity_Type_14', 'Activity_Type_16',
       'Activity_Type_17', 'Activity_Type_18', 'Activity_Type_19',
       'Activity_Type_2', 'Activity_Type_22', 'Activity_Type_23',
       'Activity_Type_25', 'Activity_Type_26', 'Activity_Type_27',
       'Activity_Type_30', 'Activity_Type_4', 'Activity_Type_5',
       'Activity_Type_6', 'Activity_Type_7', 'Activity_Type_9'],
      dtype='object')

In [10]:
grouped_advisor_activity_df = activity_df.groupby(['Unique_Advisor_Id','Month']).agg({'Activity_Type_1': 'sum','Activity_Type_11':'sum','Activity_Type_12':'sum', \
                                                                                   'Activity_Type_13': 'sum','Activity_Type_14':'sum','Activity_Type_16':'sum', \
                                                                                   'Activity_Type_17': 'sum','Activity_Type_18':'sum','Activity_Type_19':'sum', \
                                                                                   'Activity_Type_2': 'sum','Activity_Type_22':'sum','Activity_Type_23':'sum', \
                                                                                   'Activity_Type_25': 'sum','Activity_Type_26':'sum','Activity_Type_27':'sum', \
                                                                                   'Activity_Type_30': 'sum','Activity_Type_4':'sum','Activity_Type_5':'sum', \
                                                                                   'Activity_Type_6': 'sum','Activity_Type_7':'sum','Activity_Type_9':'sum'\
                                                                                   
                                                                            
                                                                           }).reset_index()

In [14]:
grouped_advisor_activity_df.count()

Unique_Advisor_Id    40407
Month                40407
Activity_Type_9      40407
Activity_Type_27     40407
Activity_Type_2      40407
Activity_Type_12     40407
Activity_Type_7      40407
Activity_Type_11     40407
Activity_Type_13     40407
Activity_Type_16     40407
Activity_Type_6      40407
Activity_Type_26     40407
Activity_Type_1      40407
Activity_Type_17     40407
Activity_Type_5      40407
Activity_Type_22     40407
Activity_Type_23     40407
Activity_Type_19     40407
Activity_Type_4      40407
Activity_Type_30     40407
Activity_Type_25     40407
Activity_Type_14     40407
Activity_Type_18     40407
dtype: int64

In [12]:
grouped_advisor_activity_df.to_csv(os.path.join(path_to_data, "grouped_processed_activity.csv"))